SoccerTeams/Service References/DatabaseOperationsService/DataAccessService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DataAccessService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://inteli7:8090/DataAccessService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://inteli7:8090/DataAccessService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://inteli7:8090/DataAccessService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DTOs" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDataAccessService_AddPlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPlayer" />
  </wsdl:message>
  <wsdl:message name="IDataAccessService_AddPlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPlayerResponse" />
  </wsdl:message>
  <wsdl:message name="IDataAccessService_FindPlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:FindPlayer" />
  </wsdl:message>
  <wsdl:message name="IDataAccessService_FindPlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindPlayerResponse" />
  </wsdl:message>
  <wsdl:message name="IDataAccessService_FindAllPlayers_InputMessage">
    <wsdl:part name="parameters" element="tns:FindAllPlayers" />
  </wsdl:message>
  <wsdl:message name="IDataAccessService_FindAllPlayers_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindAllPlayersResponse" />
  </wsdl:message>
  <wsdl:message name="IDataAccessService_EditPlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:EditPlayer" />
  </wsdl:message>
  <wsdl:message name="IDataAccessService_EditPlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditPlayerResponse" />
  </wsdl:message>
  <wsdl:message name="IDataAccessService_DeletePlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletePlayer" />
  </wsdl:message>
  <wsdl:message name="IDataAccessService_DeletePlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletePlayerResponse" />
  </wsdl:message>
  <wsdl:message name="IDataAccessService_FindTeam_InputMessage">
    <wsdl:part name="parameters" element="tns:FindTeam" />
  </wsdl:message>
  <wsdl:message name="IDataAccessService_FindTeam_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindTeamResponse" />
  </wsdl:message>
  <wsdl:message name="IDataAccessService_FindAllTeams_InputMessage">
    <wsdl:part name="parameters" element="tns:FindAllTeams" />
  </wsdl:message>
  <wsdl:message name="IDataAccessService_FindAllTeams_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindAllTeamsResponse" />
  </wsdl:message>
  <wsdl:portType name="IDataAccessService">
    <wsdl:operation name="AddPlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataAccessService/AddPlayer" message="tns:IDataAccessService_AddPlayer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataAccessService/AddPlayerResponse" message="tns:IDataAccessService_AddPlayer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindPlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataAccessService/FindPlayer" message="tns:IDataAccessService_FindPlayer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataAccessService/FindPlayerResponse" message="tns:IDataAccessService_FindPlayer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindAllPlayers">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataAccessService/FindAllPlayers" message="tns:IDataAccessService_FindAllPlayers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataAccessService/FindAllPlayersResponse" message="tns:IDataAccessService_FindAllPlayers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditPlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataAccessService/EditPlayer" message="tns:IDataAccessService_EditPlayer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataAccessService/EditPlayerResponse" message="tns:IDataAccessService_EditPlayer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletePlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataAccessService/DeletePlayer" message="tns:IDataAccessService_DeletePlayer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataAccessService/DeletePlayerResponse" message="tns:IDataAccessService_DeletePlayer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindTeam">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataAccessService/FindTeam" message="tns:IDataAccessService_FindTeam_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataAccessService/FindTeamResponse" message="tns:IDataAccessService_FindTeam_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindAllTeams">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataAccessService/FindAllTeams" message="tns:IDataAccessService_FindAllTeams_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataAccessService/FindAllTeamsResponse" message="tns:IDataAccessService_FindAllTeams_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDataAccessService" type="tns:IDataAccessService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddPlayer">
      <soap:operation soapAction="http://tempuri.org/IDataAccessService/AddPlayer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindPlayer">
      <soap:operation soapAction="http://tempuri.org/IDataAccessService/FindPlayer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindAllPlayers">
      <soap:operation soapAction="http://tempuri.org/IDataAccessService/FindAllPlayers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditPlayer">
      <soap:operation soapAction="http://tempuri.org/IDataAccessService/EditPlayer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePlayer">
      <soap:operation soapAction="http://tempuri.org/IDataAccessService/DeletePlayer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindTeam">
      <soap:operation soapAction="http://tempuri.org/IDataAccessService/FindTeam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindAllTeams">
      <soap:operation soapAction="http://tempuri.org/IDataAccessService/FindAllTeams" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DataAccessService">
    <wsdl:port name="BasicHttpBinding_IDataAccessService" binding="tns:BasicHttpBinding_IDataAccessService">
      <soap:address location="http://inteli7:8090/DataAccessService.svc/DataAccessService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>