SoccerTeams/Service References/DatabaseOperationsService/DataAccessService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://inteli7:8090/DataAccessService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="PlayerDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Age" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Position" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Team" nillable="true" type="tns:TeamDTO" />
      <xs:element minOccurs="0" name="TeamId" nillable="true" type="xs:int" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="PlayerDTO" nillable="true" type="tns:PlayerDTO" />
  <xs:complexType name="TeamDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Coach" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Players" nillable="true" type="tns:ArrayOfPlayerDTO" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="TeamDTO" nillable="true" type="tns:TeamDTO" />
  <xs:complexType name="ArrayOfPlayerDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PlayerDTO" nillable="true" type="tns:PlayerDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlayerDTO" nillable="true" type="tns:ArrayOfPlayerDTO" />
  <xs:complexType name="ArrayOfTeamDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TeamDTO" nillable="true" type="tns:TeamDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTeamDTO" nillable="true" type="tns:ArrayOfTeamDTO" />
</xs:schema>